body { margin: 0; padding: 0;background-color: black; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
/* #top { color:whitesmoke; font-size: 16px;position:relative;} */
#side{
    position: absolute;
    height:100vh;
    background-color: transparent;
    right:0;
    /* display: flex; */
    top:75px;
}
#card{
    position: relative;
    width:300px;
    min-height: 250px;
    max-height: 80vh;
    overflow-y: scroll;
    background-color:  #383838;
    border: 2px solid whitesmoke;
    margin: auto;
    margin-right: 30px;
  

}
.mediacard{
  
    background-color:  #383838;
     margin: auto;
    margin-right: 30px;


}

.title{
    color: whitesmoke;
    text-align: center;
    font-size: x-large;
    display: block;
    padding:5px;
}

a{
    font-style: italic;
}
.subtitle{
    font-size: large;
    text-align: center;
    color: whitesmoke;
    padding:10px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

#info {
  margin-right: 10px;
  text-align: right;
  right: 20vw;
  left: 10px;
  font: 15px arial, sans-serif;
  border: none;
  font-size: 12px;
  color:white;
  background: none;
  height:auto;
  position: absolute;
  z-index: 1;

}